.input_table{
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
}
.out_put{
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
	border-color: green;	
}
#matAcont{
	display: inline-block;
	float: left;
}

#matBcont{
	display: inline-block;
	float: right;
}

input{
	width: 40px;
}

.matrix_value{
	width: 30px;
}

#matANS td {
	border: green 2px solid;
	width: 20px;
}

#hilight_non_zero{
	display: none;
}

.nonzero{
	background-color: red;
}