table{
	border: black 2px solid;
}

#matAcont{
	display: inline-block;
	float: left;
}

#matBcont{
	display: inline-block;
	float: right;
}

input{
	width: 40px;
}

.matrix_value{
	width: 30px;
}

#matANS td {
	border: black 1px solid;
	width: 20px;
}